RewriteEngine on
RewriteRule ^signin$ views/signin.php
RewriteRule ^signout$ views/signout.php
RewriteRule ^home$ index.php
RewriteRule ^product$ views/product.php
RewriteRule ^add$ views/add-product.php
RewriteRule ^edit/(.*)_([0-9]+)$ views/edit-product.php?name=$1&productID=$2